<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Currently, as part of Google Summer of Code 2021, I am working as a Student Software Developer at 
      <a class="underline-link" href="https://wormbase.org/" target="_blank">WormBase</a>. I am studying for a Bachelor of Technology degree in Computer Science &amp; Engineering from
      <a class="underline-link" href="https://www.stcet.org/" target="_blank">St. Thomas' College of Engineering and Technology</a>
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably exercising, trying to play random songs on my ukulele,
      or staring at stray cats from the window.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
