<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working at 
      <a class="underline-link" href="https://unify.ai/" target="_blank">Unify</a> as a ML Engineer.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably pumping iron, cruising on my motorcycle,
      or staring at stray cats from the window.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
