<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working at 
      <a class="underline-link" href="https://www.linkedin.com/company/smalljoys/" target="_blank">Small Joys</a> as a Data Scientist.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably exercising, trying to play random songs on my ukulele,
      or staring at stray cats from the window.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
